body {
  background-color: lightyellow;
  color: deepskyblue;
  font-family: "Sigmar One", cursive;
  max-width: 1280px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  color: #00a9db;
  text-transform: uppercase;
  font-weight: bold;
}

button {
  background-color: #00d4a9;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: opx;
  font-size: 40px;
  margin-bottom: 0%;
  font-size: 40px;
  font-weight: bold;
  border-style: solid;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 30px;
} /* 
#random {
  background-color: #00d4a9;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: opx;
  font-size: 40px;
  margin-bottom: 0%;
  font-size: 40px;
  font-weight: bold;
  border-style: solid;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 30px;
} */

#main-cell {
  margin: 0px auto;
}

#cells-container {
  border-color: red;
  border-style: solid;
  border-width: 0px;
  padding: 12px;
  border-radius: 50px;
  display: block;
  width: 60%;
  margin: 0px auto;
}

.cell {
  background-color: #1c1b1b;
  display: inline-block;
  width: 12.5%;
  min-height: 64px;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  border-style: solid;
  border-color: #f1ecec;
  border-radius: 8px;
  margin: 3px;
  padding-top: 32px;
  cursor: pointer;
}

.cell:hover {
  border-color: gray;
}

.cell.random {
  border-color: rgb(59, 4, 4);
  background-color: #d10808;
}
